{% extends 'base.html' %}    
{% load crispy_forms_tags %}  <!--import Crispy API-->

{% block content %}
    <h4>New/Update record</h4>
    <div class = "container"> <!--Bootstrap class - Put the from inside a  container-->

        <form method="POST">
            {% csrf_token %}
            <div>
                <div class="row" > <!--Bootstrap class - Render all fields in a row-->
                    {% crispy form%}  <!--Uses crispy tag to render the form-->
                </div>
                <button type="submit" >Save</button>
            </div>
                        
        </form>
    </div>
{% endblock %}